* {
  margin: 0;
  padding: 0;
}
.App {
  padding: 20px;;
}
.container{
  padding: 0 !important;
}
/* Registro */
.logoutLogo{
  width: 30px;
}
.logout{
  margin: 15px;


}
.logo-priv{
  width: 35px;
}
.nav-priv p{
  font-size: 15px;
  color: black;
}

.nav-priv{
  background-color: rgba(255, 255, 255, 0.8);
}
.navegacion{
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  margin: 150px 0 50px 0;
  display: flex;
}
.buttonFalse{
  display: inline;
  color:lightgray;
  padding-bottom: 22px;
  border:white;
  border-bottom:5px solid lightgray;
  background-color: white;
  padding: 0 40px 15px 40px;
  font-size: 20px;
}
.login{
  padding: 0 !important;
  left: 33px; 
}
.signup{
  padding: 0 !important;
  right: 33px;
}
.buttonTrue{
  color:black;
  display: inline;
  padding-bottom: 22px;
  border:white;
  border-bottom:5px solid black;
  background-color: white;
  padding: 0 40px 15px 40px;
  font-size: 20px;
}
 .submit-btn{
   border: 2px solid black;
   background-color: white;
   color: black;
   border-radius: 70px;
   padding: 6px 40px;
   display: block;
   margin: auto;
   margin-top: 50px;
   font-size: 20px;
 }
.login-btn{
    display:inline-block;
    padding:10px 30px;
    font-size: 27px;
    color:lightgray;
}
.signup-btn{
  display:inline-block;
  padding:10px 30px;
  font-size: 27px;
  color:black;
}
.logRedirect{
  display:block;
  margin:auto;
  margin-top: 30px;
}
.logRedirect p {
  margin-bottom: 2px;
}
.loginsignup-form{
  padding: 0 50px;
}
/* Private */
.navbarPriv{
  position: fixed;
  bottom: 0px;
  }
/* add Event */
.leaflet-container {
  width: 100%;
  height: 50vh;
  margin-bottom: 100px;
  border-radius: 5px;
  }
.mapContainer {
  width: 100%;
  height: 200px;
  margin-bottom: 40px;
  }
.sidebarStyle {
  display: none;
  }
.mapboxgl-ctrl-attrib-inner{
  display: none;
  }
.mapboxgl-ctrl-geocoder--pin-right{
  display: none;
  }
.mapboxgl-ctrl-geocoder--input{
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
  }
.mapboxgl-canvas-container{
  width: 100%;
  display: inline-block;
  }
.mapboxgl-ctrl-geocoder{
  width: 100%;
  }
.mapboxgl-marker{
  display: none;
  }
.mapboxgl-ctrl-geocoder--icon{
  display: none;
  }
/* noticeboard */
.logo-notice{
  width: 20px;
}
.imgEvent{
  object-fit: cover;
  width: 100%;
  height: 250px;
}
.text-noticeboard{
  margin: 20px;
}
/* Actions */
.imgMyEvent{
  object-fit: cover;
  width: 100%;
  height: 100px;
  }
.textMyEvent{
  font-size: 20px;
  }
  /* Profile */
.profileImg{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  }

  .profile-text p {
    font-size: 25px;
  }

  .btnEdit{
    font-size: 20px !important;
  }
  .container-page{
    margin: 30px;
  }
  /* Event details */
  .textDetails{
    font-size: 24px;
    }
    .btn-create{
      padding: 0 80px;
      font-size: 25px !important;
    }